<main>
    <nav class="nav">
        <img src="https://s3.amazonaws.com/uber-static/emails/Global/Logos/cshead/uber-logo-69x43_2x_white.png" class="nav__logo" />
    </nav>
    <div class="banner">
        <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/ubermode_spanish_2x_v2.png" alt="" class="banner__uber-mode">
        <h2 class="banner__title">Modo celebrando-nuestras-aventuras-del-2021.</h2>
        <p class="banner__caption">Gracias por elegir a Uber para hacer que este año se sintiera un poco más cercano a lo normal. Mira debajo algunos de nuestros momentos especiales.</p>
        <img class="banner__image" src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_illustration01_d_2x.png">
        <a class="banner__trigger"><img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/down_arrow.png" alt=""></a>
    </div>
    <div class="container">
        <h3 class="container__title">Este 2021 tuvimos muchos momentos para disfrutar.</h3>
        <p class="container__caption">Toma una captura de pantalla y usa #ModoUber2021 para compartir tus mejores momentos.
        </p>
    </div>
    <div class="cards-container">
        <div class="card card--blue">
            <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_icon01_2x.png" alt="" class="card__icon">
            <p class="card__caption">Hiciste</p>
            <p class="card__caption card__caption--accent">30</p>
            <p class="card__caption">viajes con la app de Uber.</p>
            <br>
            <p class="card__caption">Tú marcaste el camino pero te ayudamos a conseguir a alguien detrás del volante.
            </p>
        </div>
        <div class="card card--yellow">
            <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_icon02_2x.png" alt="" class="card__icon">
            <p class="card__caption">Has viajado más de</p>
            <p class="card__caption card__caption--accent">178</p>
            <p class="card__caption">kilómetros.</p>
            <br>
            <p class="card__caption">Una gran forma de llegar a tus diferentes destinos.</p>
        </div>
        <div class="card card--cyan">
            <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_icon03_2x.png" alt="" class="card__icon">
            <p class="card__caption">Pasaste</p>
            <p class="card__caption card__caption--accent">472</p>
            <p class="card__caption">minutos en el camino.</p>
            <br>
            <p class="card__caption">¿Disfrutaste del paisaje?</p>
        </div>
        <div class="card card--lila">
            <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_icon04_2x.png" alt="" class="card__icon">
            <p class="card__caption">2021 fue el año del</p>
            <p class="card__caption card__caption--accent">Logan</p>
            <p class="card__caption">De hecho, fue el vehículo que más veces usaste.</p>
        </div>
        <div class="card card--green">
            <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_icon05_2x.png" alt="" class="card__icon">
            <p class="card__caption card__caption--accent">Edwar Milton</p>
            <p class="card__caption">fue tu socio conductor personal.</p>
            <br>
            <p class="card__caption">¡Es broma! Edwar Milton fue el nombre más común.</p>
        </div>
        <div class="card card--pink">
            <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_icon06_2x.png" alt="" class="card__icon">
            <p class="card__caption">Viajaste más en</p>
            <p class="card__caption card__caption--accent">Domingo</p>
            <p class="card__caption">Quiere decir que hubo más diversión (o más trabajo).</p>

        </div>
    </div>

    <div class="cta__container">
        <h3 class="cta__title">Estamos ansiosos por saber qué sigue.
        </h3>
        <p class="cta__caption">Quizás visitarás nuevos lugares o probarás nuevos tipos de comida: sea lo que sea, aquí estamos para hacerlo más fácil para ti.
        </p>
        <a href="" class="cta__link">Empecemos ❯</a>
        <img src="https://d3smpkehiq8afm.cloudfront.net/email/2021/12/mt_latam_EOY/em01_illustration02_d_2x.png" alt="" class="cta__image">
    </div>
    <div class="disclaimer">
        <p class="disclaimer__description">Únicamente para Colombia y Honduras: Para efectos de claridad, en caso de que en la presente comunicación se muestre la palabra "viaje" y/o "conducir", éstas significarán "arrendamiento" y/o "realizar un arrendamiento". Asimismo, en caso de presentarse
            la palabra "socio conductor", “socio” y/o "conductor", éstas significarán "arrendador".</p>
    </div>
    <footer class="footer">
        <div class="footer__links-container">
            <div class="footer__links-help">
                <p><a href="" class="footer__link-item">Centro de ayuda</a></p>
                <p><a href="" class="footer__link-item">Eliminar suscripción</a></p>
                <p><a href="" class="footer__link-item">Términos</a></p>
            </div>
            <div class="footer__links-policies">
                <p><a href="" class="footer__link-item">Privacidad</a></p>
                <p><a href="" class="footer__link-item">Preferencias de correo electrónico</a></p>
            </div>
        </div>
        <div class="footer__contact-container">
            <p class="footer__contact-address">
                Rasier Operations B.V.<br> Mr. Treublaan 7<br> 1097 DP Amsterdam<br> Uber.com
            </p>
            <div class="footer__contact-social-container">
                <img src="https://d3smpkehiq8afm.cloudfront.net/assets/icons/social_darkmode/facebook_2x.png" alt="" class="footer__social-item">
                <img src="https://d3smpkehiq8afm.cloudfront.net/assets/icons/social_darkmode/twitter_2x.png" alt="" class="footer__social-item">
                <img src="https://d3smpkehiq8afm.cloudfront.net/assets/icons/social_darkmode/instagram_2x.png" alt="" class="footer__social-item">
            </div>
        </div>
    </footer>
</main>