<div class="nav-pc">
    <img class="nav-pc__logo" src="https://puntoscolombia.vteximg.com.br/arquivos/logo.png?v=637158940843000000" />
    <span>
        <p class="nav-pc__points">Tienes 3.116 Puntos Colombia</p>
        <small class="nav-pc__date-points">Saldo al 23-dic-2021</small>
    </span>
</div>

<div class="main-banner">
    <p class="main-banner__caption">
        CON PUNTOS COLOMBIA
        <b>#NAVEGASEGURO</b>
    </p>
</div>

<div class="greeting">
    <h3 class="greeting__title">Hola, Gustavo</h3>
    <p class="greeting__caption">
        Tu seguridad y la de tus Puntos Colombia es muy importante para nosotros, por eso te damos unos tips para que disfrutes tus días a punta de Puntos
    </p>
</div>

<div class="banner">
    <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/2021/diciembre/27-pco-seguridad/03@2x.png" />
    <h3 class="banner__title">¡Ten en cuenta!</h3>
    <p class="banner__caption">
        En Puntos Colombia jamás te contactaremos para pedirte datos personales o confidenciales por ningún medio.
    </p>
</div>
<div class="advices">
    <h3 class="advices__title">¿Cómo proteger tus datos y tus Puntos?</h3>
    <div class="advices__container">
        <div class="advices__item">
            <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/2021/diciembre/27-pco-seguridad/04@2x.png" alt="" class="advices__item-image">
            <p class="advices__item-caption">No te llamaremos a solicitar información como: <b>usuario, clave dinámica,
                    código de seguridad y códigos de verificación.</b> Si recibes una llamada solicitando esta información, cuelga y no la entregues por ningún motivo.</p>
        </div>
        <div class="advices__item">
            <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/2021/diciembre/27-pco-seguridad/05@2x.png" alt="" class="advices__item-image">
            <p class="advices__item-caption">Si llegas a ser contactado por mensaje de texto, WhatsApp o mail,
                <b>recuerda no entregar información.</b>
            </p>
        </div>
        <div class="advices__item">
            <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/2021/diciembre/27-pco-seguridad/06@2x.png" alt="" class="advices__item-image">
            <p class="advices__item-caption">Cuida tus Puntos Colombia con la clave dinámica que encuentras en nuestra app. Esta clave es para tu uso personal.</p>
        </div>
    </div>
</div>

<div class="contact">
    <h3 class="contact__title">¡En Puntos Colombia estamos comprometidos con tu seguridad!</h3>
    <p class="contact__caption">Recuerda que nuestras líneas oficiales de atención son <a class="contact__caption--link">01 8000 423 600</a> y Whatsapp <a class="contact__caption--link">(300) 912
            0488</a>
    </p>
</div>

<footer class="footer">
    <h2 class="footer__title">¿Tienes dudas?
    </h2>
    <a href="" class="footer__cta">Conoce más</a>
    <p class="footer__phone">01 8000 423 600</p>
    <p class="footer__contact-title">WhatsApp o línea móvil:</p>
    <p class="footer__phone">(300) 912 0488</p>
    <a href="www.puntoscolombia.com" class="footer__web">www.puntoscolombia.com</a>
    <div class="footer__social-container">
        <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/footer/iconos/fb1@2x.png" alt="" class="footer__social-item">
        <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/footer/iconos/tw1@2x.png" alt="" class="footer__social-item">
        <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/footer/iconos/ig1@2x.png" alt="" class="footer__social-item">
        <img src="https://static.cdn.responsys.net/i9/responsysimages/puntoscol/contentlibrary/footer/iconos/yt1@2x.png" alt="" class="footer__social-item">
    </div>
    <p class="footer__policies">
        <a href="">Autorización tratamiento datos personales</a>|
        <a href="">Política de privacidad</a>|
        <a href="">Reglamento del programa</a>
    </p>
</footer>